apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-service-deployment
spec:
  template:
    spec:
      containers:
      - name: blog-service-container
        env:
        # Add PostgreSQL environment variables
        - name: SERVICE_NAME
          value: "blog-service"
        - name: SERVICE_PORT
          value: "8005"
        - name: POSTGRES_HOST
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: POSTGRES_HOST
        - name: POSTGRES_PORT
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: POSTGRES_PORT
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: app-config
              key: POSTGRES_DB
        - name: POSTGRES_USER
          valueFrom:
            secretKeyRef:
              name: postgresql-secret
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgresql-secret
              key: POSTGRES_PASSWORD
        # Remove BLOG_DATABASE_PATH (SQLite)
