apiVersion: v1
kind: Service
metadata:
  name: postgresql-service
  namespace: titanium-staging
  labels:
    app: postgresql
    app.kubernetes.io/name: titanium
    app.kubernetes.io/managed-by: kustomize
spec:
  selector:
    app: postgresql
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  type: ClusterIP
